<!DOCTYPE html>
<html lang="">
<head>
<title>Rock, Paper, Scissors</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{{url_for('static', filename='layout/styles/layout.css')}}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">

<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('{{url_for('static', filename='images/demo/backgrounds/01.png')}}');"> 
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left"> 
        <h1 class="logoname"><a href="/home">Rock, <span>Paper, </span> Scissors</a></h1>
      </div>
      <nav id="mainav" class="fl_right"> 
        <ul class="clear">
          <li><a href="/home">Home</a></li>
            <li><a href="/play">Play</a></li>
          <li><a class="drop" href="#">Extra</a>
            <ul>
              <li><a href="#">Extra</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
  </div>
  {% block pageintro %}{% endblock %}
    
</div>
<!-- End Top Background Image Wrapper -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    {% block maincontent %}{% endblock %}
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a target="_blank" href="http://jordan-ireland.com">Jordan Ireland</a> & <a href="http://johnjmorrison.com" target="_blank">John Morrison</a></p>
  </div>
</div>
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{{url_for('static', filename='layout/scripts/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='layout/scripts/jquery.backtotop.js')}}"></script>
<script src="{{url_for('static', filename='layout/scripts/jquery.mobilemenu.js')}}"></script>
</body>
</html>