{% extends 'layout.html' %}

{% block pageintro %}
<div class="hoc clear">
    <div style="height:150px"></div>
  </div>
{% endblock %}

{% block maincontent %}
<section id="introblocks" class="row3 inspace-30 clear" style="height:500px">
      <div>
        <ul class="nospace group">
          <li class="one_half first btmspace-30">
            <h6 class="heading">Instructions</h6>
            <p>1) Select a picture from the gallery, upload, or take a picture of your hand from behind in a FIST (rock), FLAT (paper), PEACE (scissors)</p>
            <p>2) Press SUBMIT and our AI will pick either Rock, Paper, Scissors.</p>
            <p>3) Our AI will decifer what you picked based on the picture, and will see if who won!</p>
          </li>
          <li class="one_half btmspace-30">
            <h6 class="heading">Examples</h6>
            <p>1 picture of each will go here.</p>
          </li>
        </ul>
      </div>
    <div>
        <ul class="nospace group">
            <li>
            <h6 class="heading">Ready! Set! GO!</h6>
            <form action='/play' method="post" enctype=multipart/form-data>
                    <input type="file" id="file" name="file" />
                <input type="submit" id="submit" />
                </form>
            </li>
        </ul>
    </div>
    </section>

{{predict}}
{% endblock %}
