{% extends 'layout.html' %}

{% block pageintro %}
<div class="hoc clear">
    <div style="height:150px"></div>
  </div>
{% endblock %}

{% block maincontent %}
<section id="introblocks" class="row3 inspace-30 clear">
      <div>
        <ul class="nospace group">
          <li class="one_half first btmspace-30">
            <h6 class="heading">Instructions</h6>
            <p>1) Select a picture from the gallery, upload, or take a picture of your hand from behind in a FIST (rock), FLAT (paper), PEACE (scissors)</p>
            <p>2) Press SUBMIT and our AI will pick either Rock, Paper, Scissors.</p>
            <p>3) Our AI will decifer what you picked based on the picture, and will see if who won!</p>
          </li>
          <li class="one_half">
            <img src="{{url_for('static', filename='images/gallery/examples.png')}}" />
          </li>
        </ul>
      </div>
    <div>
        <ul class="nospace group">
            <li>
                <h6 class="heading">Ready! Set! GO!</h6>
                <form action='/play' method="post" enctype=multipart/form-data style="margin:0 25%;">
                    <input type="file" id="file" name="file" style="margin:0 25% 25px;" />
                    <input class="btn" type="submit" id="submit" style="width:100%;" />
                </form>
            </li>
            <li>
                <textarea style="width:60%; margin:50px 20% 0; height: 250px;" readonly>
###------------------------------###
                    
{% if predict != None %}YOU {{predict['score']['user']}}: COMP {{predict['score']['comp']}} {% else %}YOU 0 : COMP 0 {% endif %}
                    
###------------------------------###
                    
{% if predict != None %}{% for index in range(0,predict['past_choices']| length) %}You picked {{predict['past_choices'][index]}} || Computer picked {{predict['past_computer'][index]}}
{% endfor %}{% endif %}
                    
                </textarea>
            </li>
        </ul>
    </div>
    </section>

{{predict}}
{% endblock %}
